body {
  font-family: 'Kumbh Sans', sans-serif;

}

main {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 45vh;

}


.card-body-top>img {
  border-radius: 15px 15px 0px 0px;
}


.karta {
  background-color: white;
  border-radius: 15px;
  width: 25rem;
  z-index: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  width: fit-content;


}

.card-title-bot {
  display: flex;
  justify-content: space-between;
}

.card-body-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 9rem;
  margin-top: 1rem;
  padding-bottom: 0rem;
  padding-top: 2rem;
}

.card-body-mid>img {
  position: absolute;
  border-radius: 50%;
  border: 5px solid white;
  bottom: 30rem;
}

.card-body-bot {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: dotted 1px hsl(0, 0%, 85%);
  height: 7rem;

}






.text-london {
  color: hsl(227, 10%, 46%);
  position: relative;
  left: 0.3rem;
  font-weight: 400;
  letter-spacing: 0px !important;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
}

.followers,
.likes,
.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0;

}

.followers,
.likes,
.photos>.card-text {
  font-size: 13px;
  font-weight: 400;

}


p.card-text {
  color: hsl(227, 10%, 46%);
  letter-spacing: 1px;

}

.card-body-mid>h5>span {
  color: hsl(227, 10%, 46%)
}



@media screen and (max-width: 480px) {
  .card-body-mid>img {
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    bottom: 26.5rem;
  }
}